.dateWrapper {
    margin-bottom: 15px;
}

.watchword, .instructiveText {
    display: block;
    margin-bottom: 15px;
}

.watchwordTitle, .instructiveTextTitle {
    display: block;
}

.watchwordPassage, .instructiveTextPassage {
    display: block;
    text-align: right;
}
